.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  margin: 323px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    text-decoration: none solid rgb(255, 255, 255);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}